
.animated-text {
 text-align: center;
 color: White;
 font-family: Arial;
 overflow: hidden;
 height:3.1em;
 font-size: 7em;
 word-wrap: break-word;
 white-space: nowrap;
 animation: typing 8s;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 29.55ch;
  }
}
